{% extends 'base.html.twig' %}

{% block title %}Vote{% endblock %}

{% block body %}
{% include "navbar.html.twig" %}

    <div class="card" style="width: 18rem;">
        <img src="https://picsum.photos/200" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ sondage.titre }}</h5>
            <p class="card-text">{{ sondage.texteExplicatif }}</p>
            <p>{{ sondage.texte }}</p>
            <div id="vote">
                {% for question in sondage.questions %}
                    <div>
                        <input type="radio" id="{{ question.id }}" value="{{ question.id }}" name="vote" />
                        <label for="{{ question.id }}">{{ question.texte }}</label>
                    </div>
                {% endfor %}
            </div>
            <div class="btn">
                <button id="envoyer">Voter</button>
            </div>
        </div>
    </div>


{% endblock %}
