{% extends "base.html.twig" %}

{% block body %}

    {% include "navbar.html.twig" %}

<div class="row m-5">
    <div class="col-md-12">
        {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, { 'attr': { 'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name, { 'attr': { 'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.surname) }}
            {{ form_widget(form.surname, { 'attr': { 'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.birthDate) }}
            {{ form_widget(form.birthDate, { 'attr': { 'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.birthPlace) }}
            {{ form_widget(form.birthPlace, { 'attr': { 'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.sex) }}
            {{ form_widget(form.sex, { 'attr': { 'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Créer Utilisateur</button>
        </div>

        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
